{% extends 'base.html' %}
{% block content %}

    <h1>Данные о валюте за 2023 год</h1>
        <form action="{% url 'generate_excel_report' %}" method="get">
            <button type="submit">Скачать отчет в Excel</button>
        </form>

    {% if plot_div %}
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    {% else %}
        <p>{{ error }}</p>
    {% endif %}

<form action="/home">
   <button class="button" >Currency Information</button>
  </form>





{% endblock %}
</html>
